<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>JTM 게시판</title>
</head>
<body>
	<nav th:replace="~{/navbar :: navbarFragment}"></nav>

	<aside th:replace="~{/sidebar :: sidebarFragment}"></aside>
	
		
		<div class="container my-3">
			<a href="/user/board/Qlist"><</a>
			<!-- 질문 -->
			<h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
			<div class="card my-3">
				<div class="card-body">
					<div class="card-text" style="white-space: pre-line;" th:text="${question.content}">
					</div>
					<div class="d-flex justfy-content-end">
						<div class="badge bg-light text-dark p-2 text-start">
							<div class="mb-2">
			                    <span th:if="${question.mem != null}" th:text="${question.mem.name}"></span>
			                </div>
							<div th:text="${#temporals.format(question.createDate,'yyyy-MM-dd HH:mm')}"></div>
						</div>
					</div>
					<div class="my-3">
			            <a th:href="@{|/user/board/Qmodify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
			                sec:authorize="isAuthenticated()"
			                th:text="수정"></a>
			            <a href="javascript:void(0);" th:data-uri="@{|/user/board/Qdelete/${question.id}|}" 
			            	class="delete btn btn-sm btn-outline-secondary"
			                sec:authorize="isAuthenticated()"
			                th:text="삭제"></a>
			        </div>
				</div>
			</div>
			<!-- 답변의 갯수 표시 -->
			<h5 class="border-bottom my-3 py-2" 
				th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>
			<!-- 답변 반복 시작 -->
			<div class="card my-3" th:each="answer : ${question.answerList}">
				<div class="card-body">
					<div class="card-text" style="white-space: pre-line;" th:text="${answer.content}"></div>
					<div class="d-flex justify-content-end">
						<div class="badge bg-light text-dark p-2 text-start">
							<div class="mb-2">
			                    <span th:if="${answer.mem != null}" th:text="${answer.mem.name}"></span>
			                </div>
							<div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
						</div>
					</div>
				</div>
			</div>
			<!-- 답변 반복 끝 -->
			<!-- 답변 작성 -->
			<form th:action="@{|/user/board/Acreate/${question.id}|}" th:object="${ERP_boardAForm}" method="post" class="my-3">
				<textarea sec:authorize="isAnonymous()" disabled th:field="*{content}" class="form-control" rows="10"></textarea>
				<textarea sec:authorize="isAuthenticated()" th:field="*{content}" class="form-control" rows="10"></textarea>
				<input type="submit" value="답변등록" class="btn btn-primary my-2">
			</form>
		</div>
	
	<!-- Bootstrap JS 연결 -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

	<!-- JQuery 연결 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type='text/javascript'>
		const delete_elements = document.getElementsByClassName("delete");
		Array.from(delete_elements).forEach(function(element) {
		    element.addEventListener('click', function() {
	        if(confirm("정말로 삭제하시겠습니까?")) {
	            location.href = this.dataset.uri;
		        };
		    });
		});
	</script>
</body>
</html>
